body {
  font-family: 'Poppins', sans-serif;
}



/*Heading Section*/
#heading {
  text-align: center;
  margin-top: 3%;
}

.main-heading {
  color: rgb(76, 78, 97); /*fallback color*/
  color: hsl(234, 12%, 34%);
  font-weight: 200;
  margin-bottom: 0;

}

.sub-heading {
  color: rgb(76, 78, 97); /*fallback color*/
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 15px;


}

.heading-description {
  font-weight: 200;
  width: 35%;
  margin: auto;
  color: rgb(250, 250, 250); /*fallback color*/
  color: hsl(229, 6%, 66%);

}
